@font-face {
    font-family: "Bandeins Strange";
    src: url("./Bandeins\ Strange\ Variable.woff2") format("woff2-variations");
    font-weight: 300 700;
}

* {
    box-sizing: border-box;
    --bg: black;
    --no: white;
    /* --sq: #04D976; */
    --sq: #d90479;
    /* --sq: #3eb2ff; */
    /* --sq: #ffd23e; */
    /* --sq: black; */
}

body {
    margin: 0;
    background-color: var(--bg);
    color: white;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    font-family: "Bandeins Strange";
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#controls {
    box-sizing: border-box;
    position: absolute;
    right: 100vw;
    top: 50vh;
    transform: translateY(-50%);
    padding: 2rem;
    background-color: var(--bg);
    border: 2px solid white;
    border-left-width: 0;
    border-radius: 0 1rem 1rem 0;
    transition: all 0.2s ease;
    width: 15rem;
}

#controls::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    width: 20px;
    height: 50px;
    display: block;
    content: "?";
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    margin-left: 2px;
}

#controls:hover {
    cursor: pointer;
    transform: translate(100%, -50%);
}

.grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    grid-template-columns: repeat(auto-fill, 100px);
    gap: 20px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 100px;
    height: 100px;
    transition: all 0 ease;
    color: var(--no);
    font-size: 1.5rem;
}

.active {
    font-family: "Bandeins Strange";
    font-variation-settings: "wdth" 900;
    color: var(--sq) !important;
    /* text-shadow: 0 0 1px var(--sq), 0 0 2px var(--sq), 0 0 3px var(--sq); */
    text-shadow: 0 0 2px #fff, 0 0 6px var(--sq), 0 0 8px var(--sq), 0 0 10px var(--sq), 0 0 6px var(--sq), 0 0 7px var(--sq);
}

#grid0 {
    transform: scale(1);
    filter: brightness(100%);
}
#grid1 {
    transform: scale(0.975);
    filter: brightness(92%);
}
#grid2 {
    transform: scale(0.95);
    filter: brightness(84%);
}
#grid3 {
    transform: scale(0.925);
    filter: brightness(76%);
}
#grid4 {
    transform: scale(0.9);
    filter: brightness(68%);
}

/* .c0.active { color: #d8057a !important; text-shadow: 0 0 1px #fff, 0 0 6px #d8057a, 0 0 8px #d8057a, 0 0 10px #d8057a, 0 0 6px #d8057a, 0 0 7px #d8057a; }
.c1.active { color: #cf1083 !important; text-shadow: 0 0 1px #fff, 0 0 6px #cf1083, 0 0 8px #cf1083, 0 0 10px #cf1083, 0 0 6px #cf1083, 0 0 7px #cf1083; }
.c2.active { color: #c41c8b !important; text-shadow: 0 0 1px #fff, 0 0 6px #c41c8b, 0 0 8px #c41c8b, 0 0 10px #c41c8b, 0 0 6px #c41c8b, 0 0 7px #c41c8b; }
.c3.active { color: #ba2794 !important; text-shadow: 0 0 1px #fff, 0 0 6px #ba2794, 0 0 8px #ba2794, 0 0 10px #ba2794, 0 0 6px #ba2794, 0 0 7px #ba2794; }
.c4.active { color: #b1309b !important; text-shadow: 0 0 1px #fff, 0 0 6px #b1309b, 0 0 8px #b1309b, 0 0 10px #b1309b, 0 0 6px #b1309b, 0 0 7px #b1309b; }
.c5.active { color: #a63ca4 !important; text-shadow: 0 0 1px #fff, 0 0 6px #a63ca4, 0 0 8px #a63ca4, 0 0 10px #a63ca4, 0 0 6px #a63ca4, 0 0 7px #a63ca4; }
.c6.active { color: #9d47ad !important; text-shadow: 0 0 1px #fff, 0 0 6px #9d47ad, 0 0 8px #9d47ad, 0 0 10px #9d47ad, 0 0 6px #9d47ad, 0 0 7px #9d47ad; }
.c7.active { color: #9352b5 !important; text-shadow: 0 0 1px #fff, 0 0 6px #9352b5, 0 0 8px #9352b5, 0 0 10px #9352b5, 0 0 6px #9352b5, 0 0 7px #9352b5; }
.c8.active { color: #885fbf !important; text-shadow: 0 0 1px #fff, 0 0 6px #885fbf, 0 0 8px #885fbf, 0 0 10px #885fbf, 0 0 6px #885fbf, 0 0 7px #885fbf; }
.c9.active { color: #7e6ac8 !important; text-shadow: 0 0 1px #fff, 0 0 6px #7e6ac8, 0 0 8px #7e6ac8, 0 0 10px #7e6ac8, 0 0 6px #7e6ac8, 0 0 7px #7e6ac8; }
.c10.active { color: #7673cf !important; text-shadow: 0 0 1px #fff, 0 0 6px #7673cf, 0 0 8px #7673cf, 0 0 10px #7673cf, 0 0 6px #7673cf, 0 0 7px #7673cf; }
.c11.active { color: #6a7fd8 !important; text-shadow: 0 0 1px #fff, 0 0 6px #6a7fd8, 0 0 8px #6a7fd8, 0 0 10px #6a7fd8, 0 0 6px #6a7fd8, 0 0 7px #6a7fd8; }
.c12.active { color: #608be1 !important; text-shadow: 0 0 1px #fff, 0 0 6px #608be1, 0 0 8px #608be1, 0 0 10px #608be1, 0 0 6px #608be1, 0 0 7px #608be1; }
.c13.active { color: #5796ea !important; text-shadow: 0 0 1px #fff, 0 0 6px #5796ea, 0 0 8px #5796ea, 0 0 10px #5796ea, 0 0 6px #5796ea, 0 0 7px #5796ea; }
.c14.active { color: #4da0f1 !important; text-shadow: 0 0 1px #fff, 0 0 6px #4da0f1, 0 0 8px #4da0f1, 0 0 10px #4da0f1, 0 0 6px #4da0f1, 0 0 7px #4da0f1; }
.c15.active { color: #3fb0fe !important; text-shadow: 0 0 1px #fff, 0 0 6px #3fb0fe, 0 0 8px #3fb0fe, 0 0 10px #3fb0fe, 0 0 6px #3fb0fe, 0 0 7px #3fb0fe; } */


/* .r0.active { color: #d8057a !important; text-shadow: 0 0 1px #fff, 0 0 6px #d8057a, 0 0 8px #d8057a, 0 0 10px #d8057a, 0 0 6px #d8057a, 0 0 7px #d8057a; }
.r1.active { color: #cf1083 !important; text-shadow: 0 0 1px #fff, 0 0 6px #cf1083, 0 0 8px #cf1083, 0 0 10px #cf1083, 0 0 6px #cf1083, 0 0 7px #cf1083; }
.r2.active { color: #ba2794 !important; text-shadow: 0 0 1px #fff, 0 0 6px #ba2794, 0 0 8px #ba2794, 0 0 10px #ba2794, 0 0 6px #ba2794, 0 0 7px #ba2794; }
.r3.active { color: #a63ca4 !important; text-shadow: 0 0 1px #fff, 0 0 6px #a63ca4, 0 0 8px #a63ca4, 0 0 10px #a63ca4, 0 0 6px #a63ca4, 0 0 7px #a63ca4; }
.r4.active { color: #9352b5 !important; text-shadow: 0 0 1px #fff, 0 0 6px #9352b5, 0 0 8px #9352b5, 0 0 10px #9352b5, 0 0 6px #9352b5, 0 0 7px #9352b5; }
.r5.active { color: #7e6ac8 !important; text-shadow: 0 0 1px #fff, 0 0 6px #7e6ac8, 0 0 8px #7e6ac8, 0 0 10px #7e6ac8, 0 0 6px #7e6ac8, 0 0 7px #7e6ac8; }
.r6.active { color: #6a7fd8 !important; text-shadow: 0 0 1px #fff, 0 0 6px #6a7fd8, 0 0 8px #6a7fd8, 0 0 10px #6a7fd8, 0 0 6px #6a7fd8, 0 0 7px #6a7fd8; }
.r7.active { color: #5796ea !important; text-shadow: 0 0 1px #fff, 0 0 6px #5796ea, 0 0 8px #5796ea, 0 0 10px #5796ea, 0 0 6px #5796ea, 0 0 7px #5796ea; }
.r8.active { color: #3fb0fe !important; text-shadow: 0 0 1px #fff, 0 0 6px #3fb0fe, 0 0 8px #3fb0fe, 0 0 10px #3fb0fe, 0 0 6px #3fb0fe, 0 0 7px #3fb0fe; } */
